.Transparent {


  /* width: 344.4px; */
  height: 42.4px !important;
  margin: 13.5px 0 0 !important;
  
  border: solid 1px #fff !important;

  font-family: Prompt, sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #fff !important;
  text-transform: none !important;
}
