.App {
  text-align: center;
}

.background {
  /* width: 1366px;
  height: 768px; */
  background-image: url(../assets/images/imgbackground3.jpg);
  background-size: cover;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: flex;
  text-align: center;
  /* width: '100vw';
  height: '100vh'; */
  height: 100%; 
  width: 100%;
  margin: 0;
  /* opacity: 0.87; */
  justify-content: center;
  align-items: center;
}
.background::before {    
  content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.13);
}
/* .background::before, */
.background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  border-style: solid;
}

@media only screen and (max-width: 600px) {
  .background::before, .background::after {
   
    border-style: hidden;
}
.css-kfuryn {
 
  display: none !important;
}
.text-style{
  text-align: center !important;
  
}
}

.background::before {
  border-width: 9em;
  border-right-color: #ccc;
  border-top-color: #ccc;
}

.background::after {
  border-width: 9em;
  border-right-color: #fff;
  border-top-color: #fff;
  align-items: center;
}

.Copyright {
  width: 90%;
    /* width: 297px; */
    height: 19px;
    margin: 11px 24.5px 41.6px 22.9px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}



.logo {
  /* display: flex; */
  /* width: 1366px;
  height: 768px; */
  width: 70%;
  margin-top: -10%;
  margin-left: 30%;
  /* margin-right: 10%;
  padding-right: 10%; */
  /* background-size: "cover"; */
  /* background-position: "center"; */
  /* background-image: url(../assets/images/imgbackground-logo.png); */
}


.Image-2 {
  width: 117.1px;
  height: 45.9px;
  mix-blend-mode: multiply;
}

.Image-7 {
  width: 80px;
  height: 50px;
  margin: 0 129.3px 9.6px 135.1px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.Name {
  /* display: block; */
  width: 90%;
  /* align-items: center;
  justify-content: center; */
  margin-top: 20px;
}
.REVOSOFT {
  /* width: 185px;
  height: 40px; */
  /* margin: 9.6px 80.5px 11px 78.9px; */
  /* margin: 9.6px 0px 11px 78.9px;  */
  display: inline;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  font-family: Montserrat;
  font-size: 33px;
  /* font-weight: 600; */
  font-weight: 490;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.REVOSOFT-text-style-1 {
  /* width: 185px;
  height: 40px; */
  /* margin: 9.6px 80.5px 11px 78.9px; */
  /* margin: 9.6px 80.5px 11px 0px; */
  display: inline;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  font-family: Montserrat;
  font-size: 33px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  /* text-align: left; */
  color: #fff;
}

.Hotel-Property-Management-System {
  width: 90%;
  /* width: 297px; */
  height: 19px;
  margin: 11px 24.5px 41.6px 22.9px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 480;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.RevosoftMetrosystemscoth {
  width: 169px;
  height: 18px;
  margin: 1px 0 0;
  font-family: Prompt;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(77, 77, 77, 0.6);
}

.Username {
  width: 58px;
  height: 18px;
  margin: 0 110.9px 1px 0.1px;
  font-family: Prompt;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.Path-459 {
  width: 100% !important;
  border-radius: 5px !important;
  margin: 41.6px 0.5px 21.2px 0;
  padding: 7.7px 163.6px 10.7px 11.2px;
  background-color: #fff;
}

.eye-solid {
  width: 23px;
  height: 15.3px;
  margin: 15.5px 0 3.3px 211.1px;
  background-color: #646262;
}

.Path-457 {
  width: 344.4px;
  height: 47.8px;
  margin: 24.4px 0 13.5px;
  padding: 12.9px 150.5px 10.9px 137.9px;
  background-image: linear-gradient(97deg, #153595 1%, #1741ba 21%, #032ca7 100%, #0b1b4b 100%);
  font-family: Prompt;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

/* .Sign-In {
  width: 56px;
  height: 24px;
  font-family: Prompt;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
} */

.Path-460 {
  width: 344.4px;
  height: 42.4px;
  margin: 13.5px 0 0;
  padding: 9.2px 77.2px 9.2px 77.2px;
  border: solid 1px #fff;
  opacity: 0.1;

  font-family: Prompt;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

/* .Sign-In-by-Administrator {
  width: 190px;
  height: 24px;
  font-family: Prompt;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
} */

.paper {
  flex: "display";
  text-align: "center";
  margin-top: 100;
  background-color: rgba(0,0,0,0.5);
  background: rgba(0,0,0,0.5);
  opacity: 0.9;

}

.Rectangle-1185 {
  width: 100%;
  height: 530px;
  /* margin: 92px 239.5px 16px 5.6px; */
  padding: 57px 29.5px 41.8px 30.1px;
  /* opacity: 0.09; */
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  /* background-color: #000; */
  background: rgba(0, 0, 0, 0.09);
}

.imglogo{
  padding-top: 5%;
  height: 60px; 
  margin-bottom: 5%;
  background-size: "cover";
  background-position: "center";
  /* background-image: url(../assets/images/rvs.png); */
  /* background-image: url(../assets/images/rvs.png); */
  filter: brightness(0) invert(1);
}

/* .eye-solid {
  width: 23px;
  height: 15.3px;
  margin: 15.5px 0 3.3px 211.1px;
   background-color: #646262; 
  color: #646262; 
}*/

